.door {
  margin-top: 120px;

  @include mobile {
    margin-top: 72px;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 30px;
    }

    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: var(--grey);
      white-space: nowrap;
      transition: color 0.3s ease;

      &:last-child {
        color: var(--red);
      }

      &:hover {
        color: var(--red);
      }
    }
  }

  &__tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 68px;
    overflow: auto;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__tab {
    padding: 12px 24px;
    border: 1px solid #e5e7eb;
    background-color: #fff;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #111827;

    &.active {
      background-color: var(--red);
      border-color: var(--red);
      color: #fff;
    }
  }

  &__panels {
    margin-bottom: 60px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__showMore {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--white);

    padding: 8px 42px;
    border-radius: 16px;
    background-color: var(--red);
    border: 1px solid transparent;
    transition: 0.3s all ease;
    display: block;
    margin: 0 auto;

    @include mobile {
      padding: 8px 56px;
    }

    &:hover {
      color: var(--red);
      border: 1px solid var(--red);
      background-color: #fff;
    }

    &:active {
      color: var(--medium-grey);
      border: 1px solid transparent;
      background: var(--grey);
    }

    &.hidden {
      display: none;
    }
  }

  &__panel {
    display: none;
    gap: 40px;

    @include mobile {
      flex-direction: column;
    }

    &.active {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 120px) / 4);
    gap: 82px;
    padding: 0 16px 16px 16px;

    border: 1px solid #e8e8e8;
    border-radius: 16px;

    background-color: var(--white);

    @include laptop {
      width: calc((100% - 80px) / 3);

      &:nth-child(4) {
        display: none;
      }
    }

    @include small-tablet {
      width: calc(50% - 20px);

      &:nth-child(3) {
        display: none;
      }
    }

    @include mobile {
      width: 100%;
      gap: 96px;

      &:is(:nth-child(3), :nth-child(4)) {
        display: flex;
      }
    }
  }

  &__cardTop {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }

  &__spanInStock,
  &__spanHit,
  &__spanNew {
    position: absolute;
    top: 12px;
    left: 12px;

    padding: 6px 10px;
    border-radius: 6px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
  }

  &__spanInStock {
    background-color: #2ecc71;
  }

  &__spanHit {
    background-color: var(--red);
  }

  &__spanNew {
    background: var(--dark-grey);
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: var(--white);
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: var(--medium-grey);
    }
  }

  &__more {
    border: 1px solid var(--red);
    border-radius: 16px;
    background: var(--white);
    padding: 8px 20px;
    width: fit-content;
    transition: 0.3s all ease;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--red);

    &:hover {
      color: #fff;

      background-color: var(--red);
    }

    &:active {
      color: var(--medium-grey);
      border: 1px solid transparent;
      background: var(--grey);
    }
  }
}
