.internalArticle {
  margin-top: 120px;

  @include mobile {
    margin-top: 72px;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

    @include small-tablet {
      margin-bottom: 24px;

      overflow: auto;
      padding-bottom: 10px;
    }

    svg {
      flex-shrink: 0;
    }

    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: var(--grey);
      white-space: nowrap;
      transition: color 0.3s ease;

      &:last-child {
        color: var(--red);
      }

      &:hover {
        color: var(--red);
      }
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include mobile {
      gap: 30px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mobile {
      gap: 20px;
    }

    h1 {
      font-family: "Bounded", sans-serif;
      font-weight: 500;
      font-size: 40px;
      color: #000;

      @include mobile {
        font-size: 22px;
      }
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 22px;
      color: #000;
      @include mobile {
        font-size: 16px;
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 120px;

    @include mobile {
      gap: 40px;
    }
  }

  &__card {
    display: flex;
    align-items: stretch;
    gap: 30px;

    @include maxdesktop {
      flex-direction: column;
      gap: 20px;
    }

    &.reverse {
      flex-direction: row-reverse;

      @include maxdesktop {
        flex-direction: column;
      }
    }
  }

  &__cardleft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 15px);
    border: 1px solid #e8e8e8;
    border-radius: 24px;

    @include maxdesktop {
      height: 368px;
      width: 100%;
    }

    img {
      display: block;
      height: 100%;
      object-fit: contain;
    }
  }

  &__cardRight {
    width: calc(50% - 15px);
    padding: 16px 40px 16px;
    border: 1px solid #e8e8e8;
    border-radius: 24px;

    @include maxdesktop {
      width: 100%;
    }

    @include small-tablet {
      padding: 0 20px;
      border: none;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__interiorCard {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 24px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #e8e8e8;
    }

    @include mobile {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__interiorCardLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 22px;
    width: 44px;
    height: 44px;
    background: #c8102e;

    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 122%;
    color: var(--white);

    @include mobile {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }

  &__interiorCard .internalarticle__interiorCardRight {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mobile {
      gap: 8px;
    }

    h3 {
      font-family: "Bounded", sans-serif;
      font-weight: 500;
      font-size: 22px;
      line-height: 127%;
      color: #111827;

      @include mobile {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        color: #111827;
      }
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: #374151;

      @include mobile {
        font-size: 14px;
        line-height: 143%;
      }
    }
  }
}
