<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />

  <title>KAPELLI DOORS</title>
  <link rel="icon" href="data:," />

  <!-- Стили -->
  <link rel="stylesheet" href="css/vendor.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5/dist/fancybox/fancybox.css"
  />
  <link rel="stylesheet" href="css/main.css" />

  <!-- Скрипты библиотек -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5/dist/fancybox/fancybox.umd.js"
  ></script>

  <!-- Скрпт JS -->
  <script defer src="js/main.js"></script>
</head>
